<style>
    body{ 
        background-image: url( my portfold background4.png);
        background-repeat: no-repeat ;
        background-attachment: fixed;
        background-size: 20% 40%;
    }
</style>